[Unit]
Description=Predixy Redis Proxy
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=/opt/predixy/src/predixy /opt/predixy/conf/predixy.conf

[Install]
WantedBy=multi-user.target
